@font-face {
    font-family: 'Geologica';
    font-style: normal;
    font-weight: 100 900;
    src: url('../../fonts/Geologica/Geologica-VariableFont_CRSV,SHRP,slnt,wght.ttf') format('truetype-variations');
}

@font-face {
    font-family: 'Unbounded';
    font-style: normal;
    font-weight: 200 900;
    src: url('../../fonts/Unbounded/Unbounded-VariableFont_wght.ttf') format('truetype-variations');
}