:root {
    --primary-background-dark: rgba(30, 30, 30, 1.0);
    /* #1E1E1E */
    --primary-background-dark-with-opacity-50: rgba(30, 30, 30, 0.5);
    --primary-background-dark-with-opacity-80: rgba(30, 30, 30, 0.8);

    --color-ct-light: rgba(0, 180, 216, 1.0);
    /* #00B4D8 */
    --color-ct-background: rgba(3, 4, 94, 1.0);
    /* #03045E */

    --color-t-light: rgba(206, 66, 87, 1.0);
    /* #CE4257 */
    --color-t-background: rgba(79, 0, 11, 1.0);
    /* #4F000B */

    --main-border-radius: 8px;
}